.form-check-input{
    position: relative !important;
    margin-top: 0rem !important;
    width: 40%;
}
.Card{
    position: relative;
    background-color: #444B90;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin-left:10%;
}

.del{
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
    font-size: 1.3rem !important;
    color:white;
    margin-bottom: 10px;
}
.del:hover{
    cursor: pointer;
    color: rgba(255,120,120,1)!important;
    background-color: transparent !important;
    border: 2px solid rgba(255,120,120,1) !important;
    box-shadow: 0px 0px 3px rgba(255,120,120,1);
}

.back_btn{
    text-align: left;
    font-size: 1.3em;
    color: white !important;
}

.back_btn a{
    color: white !important;
}

.back_btn a:hover{
    text-decoration: none !important;
    color: #61F2F5 !important;
    text-shadow: 0px 0px 5px #61F2F5;
}

.profil_title{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:750px){
    .profil_title{
        margin-top: 25px;
    }

    .back_btn{
        font-size: 1em !important;
        text-align: left !important;
    }
    
.infos{
    font-size: 1.4em;
    margin-left:30%
}
}

/* .back_btn a i{
    margin-left: 20px;
    margin-right: 10px;
} */
#avatar{
    background-color:#48475C;
    height:190px;
    width:190px;
    margin: 6%; 
    border-radius: 10px;
    /* transform: translate(50%); */
}

.modificationProfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modificationProfil .profil_set{
    color: aliceblue !important;
    text-decoration: none !important;
    text-align: center !important;
}

.modificationProfil .profil_set:hover{
    color: #61F2F5 !important;
    text-shadow: 0px 0px 5px #61F2F5;
}
a{
    text-decoration: none !important;
}
.modificationProfil .delete{
    color: #FF7878 !important;
    text-decoration: none !important;
}

.modificationProfil .delete:hover{
    text-shadow: 0px 0px 5px #f82222 !important;
}

.annonce_title{
    margin-top: 5%;
}

.infos{
    font-size: 1.4em;
}

/* 
.contain{
    width: 70%;
background-color:#594BBD;
margin: 3%;
margin-left:16%;
border-radius: 10px  0px 10px 0px;
} */

/* .imgAnnonce{
    width: 78.71px;
    height: 76.81px;
    margin:3%;
} */

/* .acces,.modif{
    margin :0 2% 0 2%;
    color: #444B90 !important;
    background-color: white !important;
    border: white !important;
    font-size: 1.2rem !important;
} */
