.dropdowns {
    float: left;
    overflow: hidden;
  }
  
  .dropdowns .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 33px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }

  .dropbtn i{
    margin-left: 5px;
  }
  
  .dropdowns:hover .dropbtn {
    color: #61F2F5 !important;
    text-shadow: 0px 0px 5px #61F2F5;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  .dropdowns:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column-dropdown {
    float: left;
    padding: 10px;
    padding-left: 20%;
  }

  .column-dropdown a {
    float: none;
    color: white;
    padding: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column-dropdown a:hover {
    color: #61F2F5 !important;
    text-shadow: 0px 0px 5px #61F2F5;
    text-decoration: none;
  }
  
  .row-dropdown{
    background: linear-gradient(to right, #240046, #3c096c);
    height: auto;
  }

  /* Clear floats after the columns */
  .row-dropdown:after {
    content: "";
    display: table;
    clear: both;
  }