#header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    width: 100% ;
}
#logo{
    width:100px;
    height:100px;
}
#menu_head{
    display:flex;
    position:relative;
    height:100px;
    margin-right:20px;
    align-items:center;
}
#li_menu_head{
    margin:10px;
}
#head_menu{
    list-Style-Type:none;
    display:flex;
    margin:10px;
}
#Recherche{
    margin:10px;
    margin-Top:-3px;
}
#Loupe{
    width:20px;
    height:20px;
    margin-Top:3px;
}
.burger{
    display:none;
}
@media screen and (max-width:700px){
    #head_menu{
        display:none;
    }
    #menu_head{
        justify-content:left;
        position: relative;
        width: 100%;
    }
    .burger{
        display:block;
        position:absolute;
        top:0px;
        right:0px;
        width:20px;
        height:20px;
    }
    #header{
        justify-content: baseline;
    }
    .burgerMenu{
        display:flex;
        flex-direction: column;
        width:100%;
        background-color: antiquewhite;
        position: absolute;
        left:0px;
        top:0px;
        height: 100vh;
    }
    
}