header {
    position: relative;
    display: flex;
    background: linear-gradient(to right, #594BBD, #3E338C);
    justify-content: space-between;
    width: 100% ;
    font-family: 'Righteous', sans-serif;
    font: 400;
    letter-spacing: 1px;
    position: fixed;
    z-index: 1;
}

body{
    background: radial-gradient(#281761, #181B41, #181B41, #402183, #321575);
    
}

a{
    text-decoration: none;
}

.logo_resize{
    width: 11%;
    padding: 10px;
    padding-left: 100px;
}

#logo{
    width:100%;
}
/*
.menu_head{
    display:flex;
    position:relative;
    height:100px;
    align-items:center;
    width:100%;
}

.li_menu_head{
    margin:10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.li_menu_head a {
    color :  white;
}

.li_menu_head a:hover{
    color: #61F2F5;
    border-bottom: 3px solid #61F2F5;
    border-radius: 4px;
    transition: all 0.2s;
}

.head_menu{
    list-Style-Type:none;
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.searching{
    width: 100%;
    height: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

.icon{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    border: 2px solid white;
}

.fas{
    color: aliceblue;
}

.searchbar{
    width: 200px;
    padding: 5px;
    color: white;
    background: transparent;
    border: 2px solid white;
}

.burger{
    display:none;
}


@media screen and (max-width:700px){
    .head_menu{
        display:none;
    }
    .menu_head{
        justify-content:left;
        position: relative;
        width: 100%;
    }
    .burger{
        display:block;
        position:absolute;
        top:0px;
        right:0px;
        width:20px;
        height:20px;
        padding: 10px;
    }
    header{
        justify-content: baseline;
    }
    .burgerMenu{
        list-style-type: none;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        background-color:#7a57d1;
        position: absolute;
        left:0px;
        top:0px;
        height: auto;

    }
    
} */