header {
    position: relative;
    display: flex;
    background: linear-gradient(to right, #594BBD, #3E338C);
    justify-content: space-between;
    width: 100% ;
    font-family: 'Righteous', sans-serif;
    font: 400;
    letter-spacing: 1px;
    position: fixed;
    z-index: 1;
}

body{
    background: radial-gradient(#281761, #181B41, #181B41, #402183, #321575);
}

a{
    text-decoration: none;
}

.logo_resize{
    width: 11%;
    padding: 10px;
    padding-left: 100px;
}

#logo{
    width:100%;
}

@media (min-width: 992px){
    .navbar-expand-lg {
        justify-content: space-around !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #61F2F5 !important;
    text-shadow: 0px 0px 5px #61F2F5;
}

.navbar-nav{
    align-items: center;
}

.form-control{
    border-radius: 0px !important;
    height: calc(1em + .75rem + 2px) !important;
}

.btn-outline-success{
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
}

.btn{
    border-radius: 0px !important;
}

.btn-custom{
    height: calc(1em + .75rem + 2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        justify-content: space-around;
    }
}