.chat{    
    width: 58%;
    height:  355px;
    /* max-height: 500px; */
    z-index: 2;
    overflow: auto;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    background: rgb(112 65 128 / 40%);
    border-radius: 20px;
    margin: 4% 21%;

}

.envoi{
    position: fixed;
    bottom: 208px;
    width: 58%;
    height: 50px;
    background: #3c346e;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
    margin-top: 13%;
}


#message{
    background: none;
    border: none;
    outline: none!important;
    resize: none;
    color: rgba(255, 255, 255, .7);
    font-size: 25px;
    height: 37px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
}

#envoi_message{
    z-index: 1;
    color: #fff;
    border: none;
    background: #423693;
    font-size: 20px;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none!important;
    float: right;
    height: 100%;
    padding: 2%;
}

#Receveur{
  color: #fff;
  text-align: center;
  padding: 10px 10px 10px 50px;
}

#zone_chat{
    color:white;
    width: 711px;
    margin-top: 5%;
}
#chat{
    width: 58%;
    height: 400px;
}
.menu{     
    
    left: 21%;
    right: 0px;
    height: 50px;
    background: #3c346e;
    z-index: 100;
    position: absolute;
    width: 58%;
    top: 14%;
    color: white;
}

#titre{
    margin-left:20%
}


.en{
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        list-style: none;
}

.date{
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
}