.btn-customize{
    color: #444B90 !important;
    background-color: white !important;
    border: white !important;
    font-size: 1.5rem !important;
}

.field-icon {
    float: right;
}

.eyes{
    position: absolute;
    left: 100%;
    top: 25%;
    
}

.eyes:before{
    margin-left: 15px;
}

.btn-customize:hover{
    color: #9ca3e2;
}

.link-customize{
    color: #61F2F5;
}

.link-customize:hover{
    color: #61F2F5;
    text-shadow: 0px 0px 3px #61F2F5; 
    cursor: pointer;
    text-decoration: none;
}

.container-customize{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.smaller{
    margin-top: 15px;
    font-size: 0.9em;
}

.container-customize a{
    color: turquoise;
}

.container_resize{
    background-color: #444B90;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 400px;
}

.input-customize{
    position: relative;
    flex-wrap: nowrap !important;
    align-items: space-around;
    justify-content: space-around;
    margin: 5%;
}

.input-customize input{
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
    height: 35px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.input-customize .btn-infos{
    position: absolute !important;
    left: 85%;
    height: 35px;
    background-color: transparent;
    border: 0px !important;
    color: white;
}

.input-customize .btn-infos:hover{
    background-color: transparent !important;
}

.input-customize input::placeholder{
    color: white;
    opacity: 50%;
}

.form-check-input-custom{
    width: 10% !important;
}

@media (min-width: 1200px) {
    .container_resize{
        width: 700px;
    }

    .input-customize input{
        width: 500px;
    }
    
}
@media screen and ( max-width:750px){
    .h2{
        margin-left:20%
    }
}

/* .input-customize input::placeholder::after{
    color: white;
    content:"*";
    opacity: 100%;
} */

/* .col-customize{
    background-color: violet;
} */