/* page entiere */
.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*border: 2px solid blue;*/
  box-shadow: inset;

}

/*  div une */
.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 350px;
  /*border: 2px solid gray;*/
}



/* 1ere div de la div une */
.profileGauche{
  width:25%;
  height: 100%;
/*border: 3px solid rosybrown;*/
background-color: 	#E8E8E8;
text-align: center;
}
/* 2eme div de la div une */

.infosProfile{
  width:100%;
  height: 100%;

  display: flex;
  flex-direction:column;
  background-color:whitesmoke;

}

/* 1ere div de la div : infosProfile */
.Image_Profile{
  width: 100%;
  height: 90%;
/*  border: 2px solid  red;*/
  text-align: center;
}

/* 2eme div de la div : infosProfile */
.InfosperosProfiles{
  width: 100%;
  height: 90%;
  /*border: 2px solid hotpink;*/
  text-align: center;
}
/* 3eme div de la div : infosProfile */
.ModiAvatar{
  margin-top: 10px;
  width: 100%;
  height: 90%;
/*border: 2px solid darkgrey;*/
  text-align: center;
}




/*  div 2 */
.annonceglobale{

  display: flex;
  flex-direction:row;
  width: 100%;
  height: auto;

  /*border: 2px solid green; */
}

.annoncesGauche{
  margin-top: 10px;
  width:25%;
  height: 100%;
/*border: 3px solid rosybrown;*/
background-color: 	#E8E8E8;
/*border: 3px solid hotpink;*/
text-shadow: 10px 10px 10px rosybrown;
}


.infosannonces{
  width:50%;
  height: 100%;
  background-color:whitesmoke;
   
  text-align: center;
  margin-left: 5%;
}


.paragraphe1annonce{
  width:100%;
  height: 100px;
  margin-left:20%;
 /*border: 3px solid skyblue;*/
 text-align: center;
}

.annonnce2{
  width:50%;
  height: 100%;
  background-color:whitesmoke;
   
  text-align: center;
  margin-left: 5%;
}




img{
  border-radius:10px;
}



.acces-menu{
      margin-top: 30%;
      margin-left: 15px;
      font-style: normal;
      font-weight: bold;
      color:white;
}

.m{
  margin-top: 5%;
  margin-left: 15px;
  font-weight: 25px;
  text-shadow: 10px 10px 10px rosybrown;
}

.a{
  text-align: center;
  margin-top: 30%;
      margin-left: 15px;
      font-style: normal;
      font-weight: bold;
}

.mybouton{
color: white;
background-color: blueviolet;
border-radius: 3px;
}

.creer{
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
  justify-content: center;
}



/*  div 3 */



.cadre{
  text-shadow: 10px 10px 10px rosybrown;
  width: 100%;
  height: 100%;
  
}

.cadre1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  background-color:whitesmoke;
   
  text-align: center;
  text-shadow: 10px 10px 10px rosybrown;
  
}



.Image_Profile{
  width: 100%;
  height: 150px;
  border-color: silver;
  border-radius: 65% ;
  overflow: hidden;
}



.mesachats{
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.VueAchat{
  margin-left: 20%;

}

.achat{

  margin-left: 2px;
}


.mesAchatsgauche{

    width:25%;
    height: 100%;
  /*border: 3px solid rosybrown;*/
  background-color: 	#E8E8E8;
  /*border: 3px solid hotpink;*/
  text-shadow: 10px 10px 10px rosybrown;
  }
