
.inscription{
    text-align:center;
    }
    button{
    color: darksalmon;
    }


    .conninscri{
        display: flex;
        text-align: center; 
        margin-left: 10%;
        margin-top: 25px;
     
    }




    .items{
        width: 500px;
        height: auto;
        border: 3px solid white;
        justify-content: space-between;
    }