.homeBody{
    height:auto;
    margin-top:2%;
    color: white;
}

.bodyRecent{
    display: flex;
    justify-content: center;
}

.margin_custom{
    margin-top: 7%;
}

.card{
    margin-top: 5%;
}

.aboutUs{
    margin-right:10%;
    font-size: 1.5em;
}

.imageIntitule{
    width: 24rem;
    margin-bottom: 5%;
}

.imageProduit{
    margin-top: 20px;
    margin-bottom: 10px;
}

.listArticles{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
}

.button_custom-width{
    width: 100%;
    text-align: center;
}

.mario {
    width:238px;
    height: 167px;
    position: relative;
}

.News{
    margin-left: 39%;
    width: 50%;
    margin-top: -113px;
}

.card{
    background-color: #444B90 !important;
    border-radius: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.intituleAnnonce{
    color: white;
}

.card-title{
    text-align: center;
}

.list-group li{
    background-color: #444B90 !important;
}

/* .Card{
    background-color: #444B90 !important;
    margin-bottom: 100px;
    margin-top:3%;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    color:white;
    margin-left:23%
    
} */

@media screen and (max-width:750px){
    .us{
        width:50%;
    }
    .nous{
        font-size:1rem;
    }
    .title{
        margin-left:22%;
    }
    .mario{
        margin-left:10%
    }
    .Card{
        height: 500px;
    }
    .News{
        margin-top:10%;
        margin-left:22%
    }
}
