.bodyProduct{
    position: relative;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    margin-left:10%;
    font-size: 1.5em;
}
.description{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin:30px;
padding:20px;
border-radius:20px;
box-shadow: 10px 5px 10px #c543f1;
background-color: #f5f7fa;
width:100% ;
max-width: 300px;
}
.Images{
margin-top:-2%;
}
.imageP{
height:400px;
width:300px;
margin-top:5%;
margin-right:70%;
}

.imageFleches{
display:flex;
flex-direction: row;
align-items: center;
}
.fleche{
width:100%;
max-width: 45px;
height: 45px;
}
.Description{
width:70%;
text-align: left;
margin-top:-30%;
margin-left:30%
}
.bouton{ 
        background-color: transparent !important;
        border: 2px solid white !important;
        border-radius: 5px !important;
        font-size: 1.1rem !important;
    }
    
    .bouton:hover{
        cursor: pointer;
        color: #61F2F5 !important;
        background-color: transparent !important;
        border: 2px solid #61F2F5 !important;
        box-shadow: 0px 0px 3px #61F2F5; 
    }
.bn{
    margin-left:50%;
    width:20%;
    color:white;
        background-color: transparent !important;
        border: 2px solid white !important;
        border-radius: 5px !important;
        font-size: 1.3rem !important;
    }
    
    .bn:hover{
        cursor: pointer;
        color: #61F2F5 !important;
        background-color: transparent !important;
        border: 2px solid #61F2F5 !important;
        box-shadow: 0px 0px 3px #61F2F5; 
    }
#chiant{
    color: #FF7878;
    float:right;
}

#contact{
    margin-top:5%;
}

@media screen and (max-width:750px){
    
.imageP{
    height:400px;
    width:300px;
    margin-top:5%;
    margin-left:10%;
    }
    .Description{
        margin-top:0%;
        margin-left:20%
    }
    .bn{
        width:60%
    }
}