/* .Card{
    background-color: #444B90;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    margin-left:13%
    
}
.title{
    font-size: 1.0rem !important;
    color:white;
    margin-top: 2%;
    margin-left:-62%;
} */