.bouton{
	font-size: 16px;
    display:flex;
    height:30px;
    width:160px;
    border-radius: 20px;
    background-color: #7a57d1;
	color: white;
	align-items: center;
    justify-content: center;
    text-align: center;
    margin:20px;
}
.body{
    padding-top: 100px;
}