
.FooterGlobal{
    display: flex;
    background-color: #7a57d1 ;
    justify-content: space-between;
    width: 100% ;
    height:auto;
    flex-direction: row-reverse;
    position: absolute;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
}


.Footer img{
    width: 50px;
    height: auto;
}


.LogoMentions{
    width:300px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
    
    
    
}
.Afficheur{
    width: 300px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
    justify-content: space-between;
    margin-top: 29px;
    
}
.Mentions{
    text-align: center;
    width: 200px;
    height: auto;
    margin-top: 35px;
    color: white;
    

    
}
.Logo img{
    width:100px;
    height: 100px;
}

