
.footer
{
    background-color: #7a57d1 ;
}


.Footer {
    width: 50px;
    height: auto;
}
.Logo{
    width:200px;
    height:auto;
    padding: 10px;
}
.p{
    margin-bottom:0;
}
.Mentions{
    text-decoration:none;
    color:black;
    margin-top:10px;
}

